services:
  app:
    container_name: jobsync_app
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - proxynet
    environment:
      # Please do not forget to create and update your .env file
      - NODE_ENV=production
      - DATABASE_URL=file:/data/dev.db
      - USER_EMAIL=${USER_EMAIL}
      - USER_PASSWORD=${USER_PASSWORD}
      - AUTH_SECRET=${AUTH_SECRET}
      - NEXTAUTH_URL=${NEXTAUTH_URL}
      - AUTH_TRUST_HOST=${AUTH_TRUST_HOST}
    volumes:
      - ./jobsyncdb/data:/data
    restart: unless-stopped

networks:
  proxynet:
    name: nginx-network
    external: true
